In [74]:
import vincent
import pandas as pd
vincent.core.initialize_notebook()
pd.set_option("display.max_columns", None)

# Importing CSV DaTa

In [89]:
columns = ["Rk","G","Date","Age","Tm","Home/Away","Opp","Win/Lose","GS","MP","FG","FGA","FG%","3P","3PA","3P%",
           "FT","FTA","FT%","ORB","DRB","TRB","AST","STL","BLK","TOV","PF","PTS","GmSc","+/-"]

data = pd.read_csv("kevin.csv", names=columns, header=1)
data.head(10)

,Rk,G,Date,Age,Tm,Home/Away,Opp,Win/Lose,GS,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,2,2.0,2012-11-02,24-034,OKC,NaN,POR,W (+14),1,42:41,7,14,.500,1,3,.333,8,12,.667,2,15,17,7,0,2,6,1,23,20.2,+13
1,3,3.0,2012-11-04,24-036,OKC,NaN,ATL,L (-9),1,42:05,7,17,.412,1,4,.250,7,8,.875,1,11,12,8,3,2,6,3,22,19.3,-8
2,4,4.0,2012-11-06,24-038,OKC,NaN,TOR,W (+20),1,29:09,4,11,.364,1,4,.250,6,6,1.000,0,6,6,3,2,0,4,3,15,9.6,+23
3,5,5.0,2012-11-08,24-040,OKC,@,CHI,W (+6),1,38:23,11,19,.579,0,2,.000,2,2,1.000,1,3,4,1,3,3,6,1,24,16.1,-3
4,6,6.0,2012-11-09,24-041,OKC,NaN,DET,W (+11),1,38:00,9,16,.563,2,2,1.000,5,5,1.000,1,12,13,2,1,0,3,1,25,20.7,+7
5,7,7.0,2012-11-11,24-043,OKC,NaN,CLE,W (+15),1,35:46,9,16,.563,1,2,.500,7,8,.875,0,8,8,2,0,1,2,1,26,20.1,+16
6,8,8.0,2012-11-12,24-044,OKC,@,DET,W (+2),1,43:49,8,22,.364,0,2,.000,10,10,1.000,0,9,9,3,0,4,2,1,26,19.0,+8
7,9,9.0,2012-11-14,24-046,OKC,NaN,MEM,L (-10),1,44:05,12,21,.571,1,1,1.000,9,9,1.000,0,10,10,5,3,2,5,1,34,29.6,-5
8,10,10.0,2012-11-16,24-048,OKC,@,NOH,W (+15),1,32:30,9,12,.750,4,5,.800,5,6,.833,2,7,9,5,2,1,2,0,27,29.5,+21
9,11,11.0,2012-11-18,24-050,OKC,NaN,GSW,W (+10),1,38:49,8,16,.500,3,5,.600,6,7,.857,0,13,13,10,2,0,2,0,25,27.5,+25

# Deleting Columns

In [76]:
del data["Rk"]
del data["Home/Away"]
del data["Tm"]
del data["Opp"]
del data["GS"]
del data["Win/Lose"]

In [77]:
data.head()

,G,Date,Age,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,2.0,2012-11-02,24-034,42:41,7,14,.500,1,3,.333,8,12,.667,2,15,17,7,0,2,6,1,23,20.2,+13
1,3.0,2012-11-04,24-036,42:05,7,17,.412,1,4,.250,7,8,.875,1,11,12,8,3,2,6,3,22,19.3,-8
2,4.0,2012-11-06,24-038,29:09,4,11,.364,1,4,.250,6,6,1.000,0,6,6,3,2,0,4,3,15,9.6,+23
3,5.0,2012-11-08,24-040,38:23,11,19,.579,0,2,.000,2,2,1.000,1,3,4,1,3,3,6,1,24,16.1,-3
4,6.0,2012-11-09,24-041,38:00,9,16,.563,2,2,1.000,5,5,1.000,1,12,13,2,1,0,3,1,25,20.7,+7

In [78]:
data = data[data["MP"] != "Inactive"]

# Field Goals Madr / Field Goals Attemped Per Minute

In [79]:
temp = data[["MP", "FG", "FGA"]]

In [80]:
import time
import datetime

def str_to_seconds(minutes):
    minutes = str(minutes)
    minutes = time.strptime(minutes, '%M:%S')
    return datetime.timedelta(minutes=minutes.tm_min, seconds = minutes.tm_sec).total_seconds()
print(str_to_seconds('40:00'))

2400.0

In [81]:
temp["MP"] = temp["MP"].map(str_to_seconds)

/var/folders/42/tg009yd16fd7lk4bbyt3hzth0000gn/T/ipykernel_29939/1878440926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["MP"] = temp["MP"].map(str_to_seconds)

In [82]:
temp[["MP", "FG", "FGA"]].dtypes

MP     float64
FG      object
FGA     object
dtype: object

In [83]:
temp.FGA = temp.FGA.astype(int)
temp.FG = temp.FG.astype(int)

/var/folders/42/tg009yd16fd7lk4bbyt3hzth0000gn/T/ipykernel_29939/2953309408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.FGA = temp.FGA.astype(int)
/var/folders/42/tg009yd16fd7lk4bbyt3hzth0000gn/T/ipykernel_29939/2953309408.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.FG = temp.FG.astype(int)

In [84]:
temp

        MP  FG  FGA
0   2561.0   7   14
1   2525.0   7   17
2   1749.0   4   11
3   2303.0  11   19
4   2280.0   9   16
..     ...  ..  ...
75  2713.0   7   17
76  2243.0   6   10
77  2067.0  10   16
78  1782.0   7   11
79  2240.0  10   16

[80 rows x 3 columns]

In [85]:
temp["FGA/M"] = temp["FGA"] / temp["MP"]
temp.head()

/var/folders/42/tg009yd16fd7lk4bbyt3hzth0000gn/T/ipykernel_29939/1717851719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp["FGA/M"] = temp["FGA"] / temp["MP"]

       MP  FG  FGA     FGA/M
0  2561.0   7   14  0.005467
1  2525.0   7   17  0.006733
2  1749.0   4   11  0.006289
3  2303.0  11   19  0.008250
4  2280.0   9   16  0.007018

# Groupby

In [90]:
data

,Rk,G,Date,Age,Tm,Home/Away,Opp,Win/Lose,GS,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,2,2.0,2012-11-02,24-034,OKC,NaN,POR,W (+14),1,42:41,7,14,.500,1,3,.333,8,12,.667,2,15,17,7,0,2,6,1,23,20.2,+13
1,3,3.0,2012-11-04,24-036,OKC,NaN,ATL,L (-9),1,42:05,7,17,.412,1,4,.250,7,8,.875,1,11,12,8,3,2,6,3,22,19.3,-8
2,4,4.0,2012-11-06,24-038,OKC,NaN,TOR,W (+20),1,29:09,4,11,.364,1,4,.250,6,6,1.000,0,6,6,3,2,0,4,3,15,9.6,+23
3,5,5.0,2012-11-08,24-040,OKC,@,CHI,W (+6),1,38:23,11,19,.579,0,2,.000,2,2,1.000,1,3,4,1,3,3,6,1,24,16.1,-3
4,6,6.0,2012-11-09,24-041,OKC,NaN,DET,W (+11),1,38:00,9,16,.563,2,2,1.000,5,5,1.000,1,12,13,2,1,0,3,1,25,20.7,+7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,78,78.0,2013-04-09,24-192,OKC,@,UTA,W (+10),1,37:23,6,10,.600,1,2,.500,8,8,1.000,0,12,12,9,3,1,3,2,21,26.2,+17
77,79,79.0,2013-04-11,24-194,OKC,@,GSW,W (+19),1,34:27,10,16,.625,2,3,.667,9,10,.900,1,9,10,8,3,1,4,1,31,31.7,+25
78,80,80.0,2013-04-12,24-195,OKC,@,POR,W (+16),1,29:42,7,11,.636,0,1,.000,2,2,1.000,1,4,5,6,1,2,4,0,16,15.6,+21
79,81,81.0,2013-04-15,24-198,OKC,NaN,SAC,W (+9),1,37:20,10,16,.625,3,5,.600,6,8,.750,1,6,7,8,1,2,1,1,29,30.1,+19
80,82,NaN,2013-04-17,24-200,OKC,NaN,MIL,L (-6),Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [91]:
groupby_by_opp = data.groupby("Opp")

In [96]:
data[data.Opp == "ATL"]

,Rk,G,Date,Age,Tm,Home/Away,Opp,Win/Lose,GS,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
1,3,3.0,2012-11-04,24-036,OKC,NaN,ATL,L (-9),1,42:05,7,17,.412,1,4,.250,7,8,.875,1,11,12,8,3,2,6,3,22,19.3,-8
23,25,25.0,2012-12-19,24-081,OKC,@,ATL,W (+8),1,40:52,14,23,.609,4,8,.500,9,10,.900,1,12,13,3,0,2,6,1,41,31.5,+2

In [97]:
field_goal_per_team = groupby_by_opp.sum()[["FGA", "FG"]]

In [101]:
field_goal_per_team = field_goal_per_team[field_goal_per_team["FGA"] != "19Inactive"]

In [102]:
field_goal_per_team

          FGA       FG
Opp
ATL      1723      714
BOS      2016       96
BRK      1617      911
CHA       812       66
CHI      1919      116
CLE      1621       98
DAL  28311119  1313610
DEN  12202023    77910
DET      1622       98
GSW  16171816  8101010
HOU    221813     1384
IND      2421      913
LAC    191925    71210
LAL  19252622  1016109
MEM    211628   121011
MIA      2124     1112
MIN  21171719  1210913
NOH   1213208    97115
NYK      2017       97
ORL      1514       87
PHI      2215      108
PHO  24301111   111556
POR  14211711   712107
SAC    141216    10710
SAS    131320     6710
TOR      1111       46
UTA  13161310    81176
WAS      1910       94